<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	Student_data</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		AddStudentServlet</display-name>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>
		p2.AddStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddStudentServlet1</display-name>
		<servlet-name>AddStudentServlet1</servlet-name>
		<servlet-class>
		AddStudentServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddStudentServlet5</display-name>
		<servlet-name>AddStudentServlet5</servlet-name>
		<servlet-class>
		AddStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddstuServlet</display-name>
		<servlet-name>AddstuServlet</servlet-name>
		<servlet-class>
		AddstuServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchstuServlet</display-name>
		<servlet-name>FetchstuServlet</servlet-name>
		<servlet-class>
		FetchstuServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchAllservlet</display-name>
		<servlet-name>FetchAllservlet</servlet-name>
		<servlet-class>
		FetchAllservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchAllServlet</display-name>
		<servlet-name>FetchAllServlet</servlet-name>
		<servlet-class>
		FetchAllServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchallServlet1</display-name>
		<servlet-name>FetchallServlet1</servlet-name>
		<servlet-class>
		FetchallServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateSer</display-name>
		<servlet-name>UpdateSer</servlet-name>
		<servlet-class>
		UpdateSer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteSer</display-name>
		<servlet-name>DeleteSer</servlet-name>
		<servlet-class>
		DeleteSer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchSer1</display-name>
		<servlet-name>FetchSer1</servlet-name>
		<servlet-class>
		FetchSer1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchServ</display-name>
		<servlet-name>FetchServ</servlet-name>
		<servlet-class>
		FetchServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchAllServ</display-name>
		<servlet-name>FetchAllServ</servlet-name>
		<servlet-class>
		FetchAllServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FetchAllSer</display-name>
		<servlet-name>FetchAllSer</servlet-name>
		<servlet-class>
		FetchAllSer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Delete</display-name>
		<servlet-name>Delete</servlet-name>
		<servlet-class>
		Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/AddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/AddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/AddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddstuServlet</servlet-name>
		<url-pattern>/AddstuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchstuServlet</servlet-name>
		<url-pattern>/FetchstuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchAllservlet</servlet-name>
		<url-pattern>/FetchAllservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchAllServlet</servlet-name>
		<url-pattern>/FetchAllServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchallServlet1</servlet-name>
		<url-pattern>/FetchallServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSer</servlet-name>
		<url-pattern>/UpdateSer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSer</servlet-name>
		<url-pattern>/DeleteSer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchSer1</servlet-name>
		<url-pattern>/FetchSer1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchServ</servlet-name>
		<url-pattern>/FetchServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchAllServ</servlet-name>
		<url-pattern>/FetchAllServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchAllSer</servlet-name>
		<url-pattern>/FetchAllSer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
